@font-face {
    font-family: 'handwriting';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
         url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

textarea {
    font: 1.4em "handwriting", cursive, sans-serif;
    position : relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
    display: block;
}

.BigSmall {
    resize: none;

}